<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
  <div nz-col [nzSpan]="24">
    <button class="bCreate" nz-button nzType="primary" (click)="createPhoto()" nzTooltipTitle="Create"
      nzTooltipPlacement="topLeft" nz-tooltip>
      <i nz-icon nzType="plus-square" nzTheme="fill"></i>
    </button>
    <br /><br />
    <nz-table #borderedTable nzBordered [nzShowSizeChanger]="true" [nzPageSizeOptions]='[10,20,50,100]'
      [nzPageSize]="10" [nzShowTotal]="totalTemplate" [nzData]="displayPhotos">
      <thead>
        <tr>
          <th nzWidth="30px"></th>
          <th>Id</th>
          <th [nzSortFn]="sortDate">Date</th>
          <th nzCustomFilter>
            Location
            <nz-filter-trigger [nzDropdownMenu]="menu">
              <i nz-icon nzType="search"></i>
            </nz-filter-trigger>
          </th>
          <th>Labels</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of borderedTable.data">
          <tr>
            <td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
            <td>{{ data.id }}</td>
            <td>{{ data.date }}</td>
            <td>{{ data.location }}</td>
            <td>
              <div *ngFor="let label of data.labels">
                <span>{{label.name}}</span>
              </div>
            </td>
            <td>
              <button nz-button nzType="primary" (click)="editPhoto(data)" nzTooltipTitle="Edit"
                nzTooltipPlacement="topLeft" nz-tooltip>
                <i nz-icon nzType="edit" nzTheme="fill"></i>
              </button>
              <nz-divider nzType="vertical"></nz-divider>
              <nz-upload [nzAction]="url" nzListType="text" [nzShowUploadList]="false"
                (nzChange)="handleChange($event)">
                <button class="bUpload" nz-button nzType="primary" (click)="setUrl(data.id)" nzTooltipTitle="Upload"
                  nzTooltipPlacement="topLeft" nz-tooltip>
                  <i nz-icon nzType="upload"></i>
                </button>
              </nz-upload>
              <nz-divider nzType="vertical"></nz-divider>
              <button nz-button nzType="primary" nzDanger nzTooltipTitle="Delete" nzTooltipPlacement="topLeft"
                nz-tooltip nz-popconfirm nzPopconfirmTitle="Are you sure to delete?" nzOkText="ok" nzCancelText="cancel"
                (nzOnConfirm)="deletePhoto(data.id)">
                <i nz-icon nzType="delete" nzTheme="fill"></i>
              </button>
            </td>
          </tr>
          <tr [nzExpand]="expandSet.has(data.id)">
            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
              <div nz-col [nzSpan]="8">
                <img *ngIf="data.path" nz-image width="100%" nzSrc="{{host}}/{{data.path}}" alt="" />
              </div>
              <div nz-col [nzSpan]="15">
                <nz-collapse>
                  <nz-collapse-panel nzHeader="Description" nzActive>
                    <p style="margin:0;">
                      {{ data.description }}
                    </p>
                  </nz-collapse-panel>
                </nz-collapse>
              </div>
            </div>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>
  </div>
  <ng-template #totalTemplate let-total> Total {{ total }} items</ng-template>
</div>

<app-photo-detail (isNeedRefresh)="refresh()"></app-photo-detail>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search location" [(ngModel)]="searchLocationValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchLocation()" class="search-button">
        Search
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>