<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
    <div class="text" nz-col [nzSpan]="16" style="margin: auto; margin-top: 100px;">
        <div >
            <i nz-icon nzType="mail" nzTheme="outline"></i> Email
            <p><a href="mailto:zhongshui.wang.chn@gmail.com">zhongshui.wang.chn@gmail.com</a></p>
        </div>
        <div>
            <i nz-icon nzType="wechat" nzTheme="outline"></i> WeChat
            <br/>
            <img style="width: 120px;" src=".\assets\images\qrcode.jpg" alt="QR code">
        </div>
    </div>
</div>