<button class="menu" nz-button nzType="default" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
  <i nz-icon nzType="appstore" nzTheme="outline"></i>
</button>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu nzMode="inline" nzTheme="dark">
    <li nz-menu-item routerLink="/home" routerLinkActive="active">
      <i nz-icon nzType="home" nzTheme="outline"></i>
      <span>Home</span>
    </li>
    <li nz-menu-item routerLink="/global" routerLinkActive="active">
      <i nz-icon nzType="global" nzTheme="outline"></i>
      <span>Global View</span>
    </li>
    <li nz-menu-item routerLink="/detail" routerLinkActive="active">
      <i nz-icon nzType="picture" nzTheme="outline"></i>
      <span>Detail</span>
    </li>
    <li nz-menu-item routerLink="/admin/photos" routerLinkActive="active">
      <i nz-icon nzType="setting" nzTheme="outline"></i>
      <span>Admin</span>
    </li>
    <li nz-menu-item routerLink="/contact" routerLinkActive="active">
      <i nz-icon nzType="mail" nzTheme="outline"></i>
      <span>Contact</span>
    </li>
  </ul>
</nz-dropdown-menu>