<nz-affix class="affix-title" [nzOffsetTop]="10">
    <div [ngStyle]="styles">
        Colorer la vie
    </div>
</nz-affix>

<div class="nav">
    <div class="container">
        <nz-carousel nzAutoPlay>
            <div nz-carousel-content *ngFor="let index of array">
                <div
                    style="height: 100vh;background-size: cover;background-position: center 0;background-image: url({{index}});">
                </div>
            </div>
        </nz-carousel>
    </div>
</div>