<?xml version="1.0" encoding="utf-8"?>
<!--
此文件由 Web 项目的发布/打包过程使用。可以通过编辑此 MSBuild 文件
自定义此过程的行为。为了解与此相关的更多内容，请访问 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/0bea89a8-b4a1-42fe-9c43-9eeec4b8ef40/resourceGroups/DefaultResourceGroup-WEU/providers/Microsoft.ApiManagement/service/PhotoMasterBackendApi01/apis/PhotoMasterBackend</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/0bea89a8-b4a1-42fe-9c43-9eeec4b8ef40/resourcegroups/DefaultResourceGroup-WEU/providers/Microsoft.Web/sites/PhotoMasterBackend</ResourceId>
    <ResourceGroup>DefaultResourceGroup-WEU</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://photomasterbackend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://photomasterbackend.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>ea6bfe46-1116-44f8-ac30-2417aa7569fe</ProjectGuid>
    <MSDeployServiceURL>waws-prod-am2-339.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PhotoMasterBackend</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PhotoMasterBackend</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>