<nz-back-top [nzTemplate]="tpl" [nzVisibilityHeight]="100">
    <ng-template #tpl>
        <div style="color: white">
            <i nz-icon nzType="arrow-up" nzTheme="outline"></i>
        </div>
    </ng-template>
</nz-back-top>

<div class="container">
    <nz-image-group nz-row>
        <div *ngFor="let url of urls" nz-col [nzSpan]="zoomLevel">
            <div class="imglist">
                <img class="img" nz-image nzSrc="{{url}}" alt="" />
            </div>
        </div>
    </nz-image-group>
</div>

<nz-affix class="zoom" [nzOffsetBottom]="20">
    <button class="btn" nz-button nzType="default" (click)="zoomIn()">
        <i nz-icon nzType="zoom-in" nzTheme="outline"></i>
    </button>
    <br />
    <button class="btn" nz-button nzType="default" (click)="zoomOut()">
        <i nz-icon nzType="zoom-out" nzTheme="outline"></i>
    </button>
</nz-affix>