<p-galleria [(value)]="urls" [(visible)]="displayCustom" [(activeIndex)]="activeIndex"
    [containerStyle]="{'max-width': '850px'}" [circular]="true" [fullScreen]="true" [showItemNavigators]="true"
    [baseZIndex]="100000">
    <ng-template pTemplate="item" let-item>
        <img [src]="item" style="width: 100%; display: block;" />
    </ng-template>
</p-galleria>

<div class="container">
    <div nz-row>
        <div *ngFor="let url of urls; let index = index;" nz-col [nzSpan]="zoomLevel" key="index">
            <div class="imglist">
                <!-- <img class="img" nz-image nzSrc="{{url}}" alt="" (click)="imageClick(index)"/> -->
                <img class="img" [src]="url" (click)="imageClick(index)" />
            </div>
        </div>
    </div>
</div>

<nz-affix class="zoom" [nzOffsetBottom]="20">
    <button class="btn" nz-button nzType="default" (click)="zoomIn()">
        <i nz-icon nzType="zoom-in" nzTheme="outline"></i>
    </button>
    <br />
    <button class="btn" nz-button nzType="default" (click)="zoomOut()">
        <i nz-icon nzType="zoom-out" nzTheme="outline"></i>
    </button>
</nz-affix>